body{
    background-image: url("images/bg.jpg");
    background-size: 100%;
}
@media (min-width:730px){
    .container{
        display: flex;
        background-color: hsl(30, 38%, 92%);
        height: 600px;
        justify-content:center;
        align-items: center;
        margin: 100px 40px;
    }
    .block{
        height: 450px;
        width: 300px;
        background-color:white;
        text-align: left;
        border-radius: 5%;
    }
    img{
        height: 450px;
        width: 300px;  
    }
    .form{
        padding: 20px;
        margin-right: 40px;
        padding-bottom: 50px;
        background-color: white;
    }
    img{
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
    }
}

@media (max-width:730px) {
    body{
        background-color: hsl(30, 38%, 92%);
    }
    img{
       content: url("images/image-product-mobile.jpg")
    }
    img{
        height: 200px;
        width: 300px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block{
        height:200px;
        width:300px;
        justify-content: center;
        text-align:left;
        background-color:white;
        margin-right: 20px;
        border-radius: 5%;
    }
    .form{
        padding: 20px;
        background-color: white;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }
    footer{
        margin-top:220px;
    }
    img{
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
}
h1{
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}
p{
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}
h2{
    font-family: Frauncis;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
}
button{
    display: block;
    width: 100%;
    border:none;
    background-color: Darkcyan;
    padding: 14px 28px;
    font-size: 14px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    color:white;
}
strong{
    font-family: Montserrat;
    font-size:25px;
    color: darkcyan;
}